<%- include('header'); %>
        <p class="click">We gave <%= movie.name %> a score of <%= movie.myScore %> out of 100.</p>
        <p class="click">Name: <%= movie.name %> <br>Score: <%= movie.myScore %> <br>Director: <%= movie.Director %></p>
        <a href="/movies" class="back">Back</a>      
    </body>
</html>