<%- include('header'); %>
        <p class="click">We gave <%= movieName %> a score of <%= movieScore %> out of 100.</p>
        <p class="click">Name: <%= movieName %> <br>Score: <%= movieScore %></p>
        <a href="/movies" class="back">Back</a>      
    </body>
</html>