<%- include('header'); %>
        <p class="click">We gave <%= name %> a score of <%= myScore %> out of 100.</p>
        <p class="click">Name: <%= name %> <br>Score: <%= myScore %></p>
        <a href="/movies" class="back">Back</a>      
    </body>
</html>